.address {
    // box model
    @media (min-width: $tablet) {
        display: inline-block;
        width: 67%;
        vertical-align: top;
    }

    // typography
    color: #ffffff;
    text-align: right;

    &__location {
        // box model
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
        padding-top: 20px;
        @media (min-width: $tablet) {
            padding-top: 0;
        }

        // typography
        font-size: 14px;
        @media (min-width: $tablet) {
            font-size: 18px;
        }
    }

    &__phones {
        // box model
        padding: 0;
        margin: 0;

        // typography
        font-size: 14px;
        @media (min-width: $tablet) {
            font-size: 22px;
        }
    }
}
