.container {
    // box model
    margin: 0 auto;
    padding: 0 10px;
    // border: 1px solid red;

    @media (min-width: $desktop) {
        width: 1000px;
    }

    &:after {
        content: '';

        // box model
        display: table;
        width: 100%;
    }
}
