.footer-nav {
    // box model
    display: inline-block;
    vertical-align: bottom;

    // typography
    font-size: 0;

    &__list {
        // box model
        display: inline-block;
        vertical-align: top;
        padding: 0;
        margin: 0;
    }

    &__item {
        // box model
        display: inline-block;
        vertical-align: top;
    }

    &__link {
        // box model
        display: inline-block;
        vertical-align: top;
        padding: 0 5px;

        // typography
        color: #ffffff;
        font-size: 12px;
        font-style: italic;
        text-decoration: none;
    }
}
