.footer-nav {
    // box model
    @media (min-width: $tablet) {
        display: inline-block;
        vertical-align: bottom;
    }
    // typography
    font-size: 0;
    text-align: right;

    &__list {
        // box model
        padding: 0;
        margin: 0;
        @media (min-width: $tablet) {
            display: inline-block;
            vertical-align: top;
        }
    }

    &__item {
        // box model
        display: inline-block;
        vertical-align: top;
    }

    &__link {
        // box model
        display: inline-block;
        vertical-align: top;
        padding: 0 5px;

        // typography
        color: #ffffff;
        font-size: 12px;
        font-style: italic;
        text-decoration: none;

        &--active {
            // typography
            text-decoration: underline;
        }
    }
}
