.footer-address {
    // box model
    padding-top: 20px;
    // border: 1px solid red;
    @media (min-width: $tablet) {
        padding-top: 0;
        display: inline-block;
        vertical-align: top;
        width: 50%;
    }

    // typography
    text-align: left;
    @media (min-width: $tablet) {
        text-align: right;
    }

    &__location {
        // box model
        position: 0;
        margin: 0;
        padding-bottom: 5px;

        // typography
        color: #ffffff;
        font-size: 13px;
        font-weight: 300;
    }

    &__phones {
        // box model
        position: 0;
        margin: 0;

        // typography
        color: #ffffff;
        font-size: 13px;
        font-weight: 300;
    }
}
