@mixin captionBackground($height: 30px, $top: 0, $left: 0, $opacity:.82) {
    &:before {
        content: '';

        // positioning
        position: absolute;
        top: $top;
        left: $left;
        z-index: -1;

        // box model
        display: block;
        height: $height;
        width: 100%;
        // border: 1px solid red;

        // visual 
        background-color: rgba(33, 33, 33, $opacity);
        transform: skewX(-15deg);
    }
}
