.section {
    // box model
    padding: 40px 0;

    @media (min-width: $tablet) {
        padding: 60px 0;
    }

    @media (min-width: $desktop) {
        padding: 80px 0;
    }

    // typography
    font-size: 0;

    &--rally-8-track {
        // typography
        color: #ffffff;
        font-weight: 300;
        font-style: italic;

        // visual
        background-image: url('../img/blue-print.png');

        & .container {
            // box model
            // border: 1px solid #ffffff;
            // width: 960px;
            box-sizing: border-box;
            @media (min-width: $desktop) {
                padding-top: 20px;
                padding: 60px;
            }

            // visual
            @media (min-width: $desktop) {
                box-shadow: inset 0 0 0 1px #ffffff;
            }
        }

        & .section__caption {
            // box model
            @media (min-width: $tablet) {
                margin-left: -100px;
                margin-bottom: 40px;
            }

            // typography
            color: #2372d3;

            &:before {
                background-color: #ffffff;
            }
            &:after {
                background-image: linear-gradient(to right, #ffffff 0%,
                #ffffff 40%, transparent 40%, transparent 60%,
                #ffffff 60%, #ffffff 100%);
                transform: skewX(-15deg);
            }
        }

        & .section__table {
            display: none;

            @media (min-width: $tablet) {
                display: table;
            }
        }
    }

    &--models-promo {
        // box model
        padding-bottom: 250px;
        @media (min-width: $tablet) {
            padding-bottom: 540px;
        }

        // visual
        background-image: url('../img/automodels-back.jpg');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 200%;
        @media (min-width: $tablet) {
            background-size: auto;
            background-position: center top;
        }
    }

    &--place-view {
        // box model
        padding: 0;

        // typography
        text-align: center;

        // visual
        overflow: hidden;

        & img {
            // box model
            width: 100%;
            max-width: 1920px;
            min-width: 768px;
        }
    }

    &--map {
        // box model
        height: 600px;
        padding: 0;
    }

    &__header {
        // box model
        // padding-left: 20px;
    }

    &__caption {
        // postioning
        position: relative;
        z-index: 0;

        // box model
        display: inline-block;
        margin: 0;
        padding: 0 20px;
        @media (min-width: $tablet) {
            padding: 0 50px;
            margin-left: -50px;
        }
        // margin-bottom: 10px;
        // margin-left: -40px;

        // typography
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        line-height: 30px;
        @media (min-width: $tablet) {
            font-size: 30px;
            line-height: 50px;
        }

        @include captionBackground(30px);

        @media (min-width: $tablet) {
            @include captionBackground(50px);
        }

        @media (min-width: $tablet) {
            &:after {
                content: '';

                // positioning
                position: absolute;
                top: 0;
                left: -37px;

                // box model
                display: block;
                height: 50px;
                width: 30px;

                // visual
                // background-color: #ffffff;
                background-image: linear-gradient(to right, rgba(33, 33, 33, .82) 0%,
                rgba(33, 33, 33, .82) 40%, transparent 40%, transparent 60%,
                rgba(33, 33, 33, .82) 60%, rgba(33, 33, 33, .82) 100%);
                transform: skewX(-15deg);
            }
        }
    }

    &__description {
        // box model
        // display: inline-block;
        // border: 1px solid red;
        padding: 10px 0;
        // padding-left: 50px;
        margin: 0;
        margin-bottom: 40px;

        // typography
        color: #666666;
        font-size: 16px;
        font-style: italic;
        // font-weight: 300;
        @media (min-width: $tablet) {
            font-size: 18px;
        }
    }

    &__text {
        // typography
        font-size: 16px;
        font-weight: 300;
        line-height: 1.6;

        @media (min-width: $tablet) {
            font-size: 18px;
        }

        & strong {
            font-weight: 400;
        }
    }

    &__table {
        // typography
        font-size: 18px;

        & td {
            // box model
            border: 1px solid #ffffff;
            padding: 5px 10px;
        }
    }

    &__list {
        // box model
        padding: 0;
        margin: 0;

        // typography
        font-size: 16px;

        @media (min-width: $tablet) {
            font-size: 18px;
        }
        font-weight: 300;

        // visual
        list-style: none;

        & li {
            // typography
            line-height: 1.666;
            // line-height: 26px;

            &:before {
                content: '— ';
            }
        }

        & strong {
            // typography
            font-weight: 400;
        }
    }

    &__image {
        // box model
        width: 380px;
        padding: 20px 0;
        // margin: 40px;
    }
}
