@import 'normalize';
@import 'vars';
@import 'mixins';
@import 'fonts';

* {
    box-sizing: border-box;
}

@import 'body';
@import 'container';
@import 'section';
@import 'button';

@import 'main-header';
@import 'logo-n-address';
@import 'logo';
@import 'address';
@import 'main-nav';
@import 'hero';

@import 'feature';
@import 'shop-item';

@import 'main-footer';
@import 'footer-logo-n-nav';
@import 'footer-logo';
@import 'footer-nav';
@import 'footer-address';

@import 'page-header';

.m_only {
    @media (min-width: $tablet) {
        display: none;
    }
}

a {
    // typography
    color: $linkColor;
}
